.code-container {
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  .code-header {
    height: 48px;
    line-height: 48px;
    width: 100%;
    overflow: hidden;
    .list {
      width: 100%;
      height: 48px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      cursor: pointer;
      color: var(--color-text);
      background-color: rgb(45, 45, 45);
      overflow-x: auto;
      overflow-y: hidden;
      .file {
        padding: 0 16px;
        max-width: 200px;
        min-width: 140px;
        overflow: hidden;
        display: flex;
        align-items: center;
        user-select: none;
        box-sizing: border-box;
        flex-shrink: 0;
        background-color: rgb(45, 45, 45);
        border-right: 1px solid rgb(37, 37, 38);
        transition: all 0.3s;
        .text {
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          justify-content: space-between;
          overflow: hidden;
        }
        .close {
          width: 16px;
          height: 16px;
          line-height: 16px;
          text-align: center;
          opacity: 0;
          margin-left: 8px;
          cursor: pointer;
          &.active {
            color: #fff;
            opacity: 1;
          }
        }
        &.active {
          background-color: var(--black-dark-hover);
        }
        &:hover {
          .close {
            opacity: 1;
          }
        }
      }
    }
  }

  .content {
    flex: 1;
    overflow: hidden;

    .image-container {
      width: 100%;
      height: 100%;
      text-align: center;

      img {
        flex: 1;
        max-width: 90%;
        max-height: 80%;
      }
    }
    .empty {
      width: 200px;
      margin: 200px auto;
      text-align: center;
      color: var(--color-text);
      font-size: 16px;
    }
    pre {
      height: 100%;
    }
    code {
      height: 100%;
      padding-bottom: 48px;
    }
  }
  .no-choose-file-empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text);
    font-size: 16px;
  }

  .file-size {
    color: var(--color-text);
    padding: 16px;
    flex: 0 0 auto;
    text-align: left;
  }
  .video-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .video {
      width: 90%;
      height: auto;
      display: flex;
      justify-content: center;
    }
  }

  &.github-dark {
    @import "highlight.js/scss/github-dark.scss";
  }
  &.atom-one-dark {
    @import "highlight.js/scss/atom-one-dark.scss";
  }
  &.vs2015 {
    @import "highlight.js/scss/vs2015.scss";
  }
  &.stackoverflow-dark {
    @import "highlight.js/scss/stackoverflow-dark.scss";
  }
}

.no-choose-folder-empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text);
  font-size: 16px;
}
