/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #353535;
  --black-light: #282828;
  --black-hover: rgba(255, 255, 255, 0.1);
  --black-dark-hover: #1f1f1f;
  --black-default-blue: #094771;

  --primary-color: #007acc;
  --success-color: #7acc00;
  --error-color: #cc2200;
  --default-color: transparent;

  --indigo: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);
  --text-file-color: #fff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);
  --color-background-light: var(--black-light);
  --color-background-hover: var(--black-hover);

  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-heading: var(--text-dark-1);
  --color-text: var(--text-dark-2);

  --section-gap: 160px;

  --button-primary-background: var(--primary-color);
  --button-success-background: var(--success-color);
  --button-error-background: var(--error-color);
  --button-default-background: var(--default-color);
  --button-background-hover: var(--black-dark-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);
    --color-background-light: var(--black-light);
    --color-background-hover: var(--black-hover);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
