.file-root {
  width: 100%;
  height: 100%;
  padding: 16px;
  padding-top: 8px;
  text-align: center;
  
  .header {
    height: 48px;
    line-height: 48px;
    color: var(--text-file-color);
    font-size: 14px;
    text-align: left;
  }
  .content {
    height: calc(100% - 48px);
    margin-top: 8px;
    overflow: auto;
    .file-tree {
      background-color: var(--black-soft);
      color: var(--text-file-color);

      .ant-tree-treenode:hover::before {
        background-color: var(--color-background);
      }

      .ant-tree-node-content-wrapper {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .select-btn {
    margin-top: 24px;
  }

  .select-btn:hover {
    cursor: pointer;
  }
// 这个是ant 树形组件文字偏移的bug修复
    .ant-tree-node-content-wrapper{
      text-align: left;
    }
}
